* {
    margin: 0;
    padding: 0;

}


header {
    background-color: rgb(231, 149, 117);
    text-align: center;
    padding: 25px 10px 0px 10px
    
}

ul {

    background-color:rgb(70, 161, 236);
    padding-bottom: 20px;
}
li {

    display:inline;
    padding-left: 10px;
}
/* added display flex to main and justified content to center 
to better allow for additional features pending*/
main {
    display: flex;  
    justify-content: center;
    order: 1;

}


.imgcrab {
    display: flex;
}

figcaption {
    text-align: center;

}

/* changed footer to form per HTML changes*/
form{
    font-weight: 600;
    background-color: rgb(231, 149, 117);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%
    
    
}

#lnamelabel {
    padding-left: 2px;
}

#emaillabel {

    padding-left: 27px;
}

