* {
    margin: 0;
    padding: 0;

}


header {
    background-color: rgb(231, 149, 117);
    text-align: center;
    padding: 25px 10px 0px 10px
    
}

ul {

    background-color:rgb(70, 161, 236);
    padding-bottom: 20px;
}
li {

    display:inline;
    padding-left: 10px;
}
/* added display flex to main and justified content to center 
to better allow for additional features pending*/
/* added flex-wrap, applies to asides and figure*/
/*margin bottom prevents overlapping with form*/
main {
    Display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

aside {
    width: 10%;
}

figure {
    text-align: center;
    
}


/* Sticks a contact form footer to the bottom of the
page regardless of size*/
form{
    font-weight: 600;
    background-color: rgb(231, 149, 117);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;    
}

#lnamelabel {
    padding-left: 2px;
}

#emaillabel {

    padding-left: 27px;
}

/* resizes and reorders figure and asides to better facilite mobile browsering */
@media screen and (max-width: 900px) {
    figure {
        width: 100%;
        order: 1;
    }

    .notable {
        width: 100%;
        order: 2;
    }

    .facts {
        width: 100%;
        order: 3;
    }
    
}